.row
  #content.medium-8.columns{:role => "main"}
    .alert.alert-warning
      %h1 
        Oops. We're sorry, but something went wrong.
      %h3
        404
      %h5
        But we are working on it!
      %div{:style => "margin-top: 50px;"}
        %a.btn.btn-large.btn-blue{:href => "javascript:history.back()"}
          %i.icon-arrow-left{:style => "margin-top:-10px;"}
          Go back